<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-full-width.html' %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Manage Healthy Start Scheme - Changes {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
   {% block content %}
  <nav aria-label="Breadcrumb"
       class="nhsuk-breadcrumb nhsBSA-breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
              <a class="nhsuk-breadcrumb__link"
                  href="home">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">Add an applicant</li>
          </ol>
        </div>
      </div>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink"
         href="home">Back to home</a></p>
    </div>
  </nav>
  <div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}"
          id="maincontent"
          role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <!-- <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back</a>
          </div> -->
          <div class="nhsuk-panel nhsuk-u-margin-bottom-5"
               style="background: #005EB8; margin-top: 0;">
            <h1 class="nhsuk-panel__title"
                style="color: white;">Application successful</h1><span class="nhsuk-caption-xl nhsuk-caption--bottom"
                 style="text-align: center; color: white;">You are entitled to free vitamins</span>
            <div class="nhsuk-panel__body nhsuk-u-margin-top-5" style="color: white;">
              Reference number:<br><strong>HDJ2123F</strong>
            </div>
          </div>
          <h2 class="nhsuk-heading-m">What happens next</h2>{% if data['email'] == "yes" %}
          <p>We've sent you an email with more information.</p>{% endif %}
          <p>You will receive vitamins every 4 weeks until your baby is born.</p>
          <p>You will receive your first batch by post within 5 to 10 working days.</p>
          <h2 class="nhsuk-heading-m">What happens in the future</h2>
          <p>Once you become 10 weeks pregnant on <strong>{{ data['preggers'] }}</strong>, we will send you a prepaid money card by post.</p>
          <p>You will receive £3.10 a week and your first payment will be £12.40.</p>
          <p>You must <a href="guidance-report-a-change">report any change in your circumstances or personal details</a>.</p><a href="/v4/home"><button class="nhsuk-button"
                  type="submit">Continue</button></a>
        </div>
      </div>
    </main>
  </div>{% endblock %}
</body>
</html>
