{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!--
        <h1>Anita Bilal <span class="nhsuk-caption-m nhsuk-caption--bottom nhsuk-u-margin-top-2"><span
                    class="nhsuk-u-visually-hidden">-</span> <span
                    class="nhsuk-caption-l nhsuk-caption--bottom">Reference Number: OAM1959T</span><strong
                    class="nhsuk-tag nhsuk-u-margin-top-3">STATUS: ACTIVE</strong></span></h1>

-->

        <h2 class="nhsuk-heading-m">Eligibility overide</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    eligibility_overide
                </dt>
                <dd class="nhsuk-summary-list__value">
                    TRUE
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#6">Change<span class="nhsuk-u-visually-hidden"> childs
                            date of
                            birth</span></a>


                </dd>

            </div>


            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    eligibility_expire_date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2020-12-18
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#6">Change<span class="nhsuk-u-visually-hidden"> childs
                            date of
                            birth</span></a>

                </dd>

            </div>

        </dl>


        <h2 class="nhsuk-heading-m">Claim Table</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    created_timestamp
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2020-08-18 13:02:28
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    card_status
                </dt>
                <dd class="nhsuk-summary-list__value">
                    ACTIVE
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    first_name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Anita
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    last_name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Bilal
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    nino
                </dt>
                <dd class="nhsuk-summary-list__value">
                    AB123456A
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    date_of_birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2000-01-01
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    expected_delivery_date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2020-12-30
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    reference
                </dt>
                <dd class="nhsuk-summary-list__value">
                    B69D4295D9
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Child details (1)</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    childs_first_name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Sunita
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#5">Change<span class="nhsuk-u-visually-hidden">
                            child</span></a>


                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    childs_last_name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Bilal
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#5">Change<span class="nhsuk-u-visually-hidden">
                            child</span></a>


                </dd>

            </div>


            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    childs_date_of_birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2018-12-18
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#6">Change<span class="nhsuk-u-visually-hidden"> childs
                            date of
                            birth</span></a>

                </dd>

            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Carer details</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    carers_first_name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Paul
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#5">Change<span class="nhsuk-u-visually-hidden"> carers
                            first
                            name</span></a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    carers_last_name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Jones
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#5">Change<span class="nhsuk-u-visually-hidden"> carers
                            last
                            name</span></a>

                </dd>

            </div>


            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    carers_date_of_birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                    1960-06-03
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#6">Change<span class="nhsuk-u-visually-hidden"> carers
                            date of
                            birth</span></a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    carers_nino
                </dt>
                <dd class="nhsuk-summary-list__value">
                    AB123456C
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#6">Change<span class="nhsuk-u-visually-hidden"> carers
                            national insurance
                            number</span></a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    carers_email_address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    email@emailaddress.com
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="applicant-edit-dependants-details#5">Change<span class="nhsuk-u-visually-hidden"> carers
                            first name</span></a>
                    or
                    <a href="#">Remove<span class="nhsuk-u-visually-hidden"> carers first name</span></a>

                </dd>

            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Contact Table</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    email_address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    karatetest@email.com
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    phone_number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    +447123456789
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    preference
                </dt>
                <dd class="nhsuk-summary-list__value">
                    EMAIL
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Address Table</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    address_line_1
                </dt>
                <dd class="nhsuk-summary-list__value">
                    TEST
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    address_line_2
                </dt>
                <dd class="nhsuk-summary-list__value">
                    N/A
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    town_or_city
                </dt>
                <dd class="nhsuk-summary-list__value">
                    TEST
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    postcode
                </dt>
                <dd class="nhsuk-summary-list__value">
                    AA11AA
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Bank Account Table</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    account_name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    TEST
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    sort_code
                </dt>
                <dd class="nhsuk-summary-list__value">
                    123456
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    account_number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    12345678
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    building_society_roll_number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    FK1234568
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    version_number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    0
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Payment Cycle Table</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    claim_id
                </dt>
                <dd class="nhsuk-summary-list__value">
                    28a81a06-90e5-4c31-a143-1f31159688dd
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    cycle_start_date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2020-08-18 00:00:00
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    cycle_end_date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2020-09-14 00:00:00
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    eligibility_status
                </dt>
                <dd class="nhsuk-summary-list__value">
                    ELIGIBLE
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    voucher_entitlement_json
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {"backdatedVouchers": 0, "voucherEntitlements": [{"entitlementDate": "2020-08-18",
                    "vouchersForPregnancy": 1, "totalVoucherEntitlement": 4, "totalVoucherValueInPence": 1240,
                    "singleVoucherValueInPence": 310}]}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    expected_delivery_date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2020-12-30 00:00:00
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    total_vouchers
                </dt>
                <dd class="nhsuk-summary-list__value">
                    16
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    total_entitlement_amount_in_pence
                </dt>
                <dd class="nhsuk-summary-list__value">
                    4,960
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    card_balance_in_pence
                </dt>
                <dd class="nhsuk-summary-list__value">
                    0
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    card_balance_timestamp
                </dt>
                <dd class="nhsuk-summary-list__value">
                    2020-08-18 13:03:30
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Payment Table</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    id
                </dt>
                <dd class="nhsuk-summary-list__value">
                    0873d590-de95-4710-9bdc-c33f5e8fa73d
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    payment_amount_in_pence
                </dt>
                <dd class="nhsuk-summary-list__value">
                    4,960
                </dd>
                <dd class="nhsuk-summary-list__actions">
                </dd>
            </div>

        </dl>

    </div>
</div>
{% endblock %}