{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/header -->
{% block header %}

<header class="nhsuk-header" role="banner">
    <div class="nhsuk-width-container nhsuk-header__container">
        <div class="nhsuk-header__logo"><a class="nhsuk-header__link" href="claim-list" aria-label="NHS homepage">
                <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false"
                    viewBox="0 0 40 16">
                    <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
                    <path class="nhsuk-logo__text"
                        d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
                    </path>
                    <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
                </svg>
            </a>
        </div>

        <div class="nhsuk-header__content" id="content-header">
            <div class="nhsuk-header__menu nhsuk-header__menu--only">
                <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
                    aria-label="Open menu">Menu</button>
            </div>
        </div>
    </div>
</header>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-list-closed">List of claims</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-list">Back to list of claims</a></p>
    </div>
</nav>

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">New claim</h1>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">

                <form novalidate="novalidate" action="/v6/new-applicant" method="post">
          
                    <h3 class="nhsuk-heading-l">Pregnancy details</h3>

                    <fieldset class="nhsuk-fieldset">
          
                        <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-0" for="duedateday">
                            Due date
                          </label>
          
                      <div class="nhsuk-form-group">
          
                      <span class="nhsuk-hint" id="hint">
                        For example, 31 3 2020
                      </span>
          
                      <div class="nhsuk-date-input">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="duedateday">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedateday" name="duedateday" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="duedatemonth">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedatemonth" name="duedatemonth" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="duedateyear">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="duedateyear" name="duedateyear" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
          
                      </div>
          
                    </fieldset>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details3">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">They are unsure what their due date is</span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">
                        <p>If they are unsure, or still awaiting a <a href="https://www.nhs.uk/conditions/pregnancy-and-baby/dating-scan-ultrasound-10-11-12-13-weeks-pregnant/" target="_blank">dating scan<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a>, they
                            can work out when they might expect their baby to arrive using the <a href="https://www.nhs.uk/conditions/pregnancy-and-baby/due-date-calculator/" target="_blank">NHS pregnancy
                              and due date calculator<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a>.</p>
                      </div>
                    </details>
          
                    <hr>
          
                    <h3 class="nhsuk-heading-l">Bank details</h3>

                    <fieldset class="nhsuk-fieldset">

                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-0" for="accountname">
                                Name on account
                              </label>
                          <input class="nhsuk-input nhsuk-input--width-20" id="accountname" name="accountname" type="text" spellcheck="false" value="{{ data['accountname'] }}">
                        </div>
            
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-0" for="sortcode">
                                Sort code
                              </label>
                          <span class="nhsuk-hint" id="sort-code-hint">
                            Must be 6 digits long
                          </span>
                          <input class="nhsuk-input nhsuk-input--width-5" id="sortcode" name="sortcode" type="text" aria-describedby="sort-code-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['sortcode'] }}">
                        </div>
            
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-0" for="accountnumber">
                                Account number
                              </label>
                          <span class="nhsuk-hint" id="account-number-hint">
                            Must be between 6 and 10 digits long
                          </span>
                          <input class="nhsuk-input nhsuk-input--width-10" id="accountnumber" name="accountnumber" type="text" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['accountnumber'] }}">
                        </div>
            
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-0" for="buildingsocietynumber">
                            Building society roll number (optional)
                          </label>
                          <span class="nhsuk-hint" id="roll-number-hint">
                            You can find it on your card, statement or passbook
                          </span>
                          <input class="nhsuk-input nhsuk-input--width-10" id="buildingsocietynumber" name="buildingsocietynumber" type="text" aria-describedby="roll-number-hint" spellcheck="false" value="{{ data['buildingsocietynumber'] }}">
                        </div>
            
                      </fieldset>
                      
                  </form>
    

            </div>
        </div>

        <p><a href="claim-list" class="nhsuk-button nhsuk-button--primary nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">Submit</a></p>

        <p class="nhsuk-u-margin-top-4"><a href="claim-list-closed">Cancel</a></p>

    </div>
</div>

{% endblock %}