{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/header -->
{% block header %}

<header class="nhsuk-header" role="banner">
    <div class="nhsuk-width-container nhsuk-header__container">
        <div class="nhsuk-header__logo"><a class="nhsuk-header__link" href="claim-list" aria-label="NHS homepage">
                <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false"
                    viewBox="0 0 40 16">
                    <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
                    <path class="nhsuk-logo__text"
                        d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
                    </path>
                    <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
                </svg>
            </a>
        </div>

        <div class="nhsuk-header__content" id="content-header">
            <div class="nhsuk-header__menu nhsuk-header__menu--only">
                <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
                    aria-label="Open menu">Menu</button>
            </div>
        </div>
    </div>
</header>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-list">List of claims</a></li>
        <li class="nhsuk-breadcrumb__item">New claim</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-list">Back to list of claims</a></p>
    </div>
</nav>

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">New claim</h1>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">

                <form novalidate="novalidate" action="/v6/new-applicant" method="post">

                    <fieldset class="nhsuk-fieldset">
          
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                        <h1 class="nhsuk-fieldset__heading">
                          Enter name
                        </h1>
                      </legend>
          
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="firstname">
                          First name
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="firstname" name="firstname" type="text" spellcheck="false">
                      </div>
          
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="lastname">
                          Last name
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="lastname" name="lastname" type="text" spellcheck="false">
                      </div>
          
                    </fieldset>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details0">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">
                          Why we ask for their name
                        </span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
                        <p>We use their name to confirm their identity and eligibility.</p>
                      </div>
                    </details>
          
                    <hr>
          
                    <fieldset class="nhsuk-fieldset">
          
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                          <h1 class="nhsuk-fieldset__heading" id="address">
                              Enter address
                          </h1>
                      </legend>
          
                      <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="addressline1">
                              Address line 1
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-20" id="addressline1" name="addressline1" type="text">
                      </div>
          
                      <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="addressline2">
                              Address line 2
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-20" id="addressline2" name="addressline2" type="text">
                      </div>
          
                      <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="towncity">
                              Town or city
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-20" id="towncity" name="towncity" type="text">
                      </div>
          
                      <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="postcode">
                              Postcode
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text">
                      </div>
          
                    </fieldset>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details1">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text1" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">They don't know what address to use</span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text1" aria-hidden="true">
                            <p class="nhsuk-heading-xs">If they have more than one address</p>
                            <p>They should use the address that their GP or dentist holds for them. For example, if they're a
                                student
                                living away from home, this could be their home or term time address.</p>
                            <p class="nhsuk-heading-xs">If they don't have a permanent address</p>
                            <p>If they're homeless and living in temporary accommodation (for example, a long term hostel), they
                                should use the address that their GP or dentist holds for them.</p>
                      </div>
                    </details>
          
                    <hr>
          
                    <fieldset class="nhsuk-fieldset">
          
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                        <h1 class="nhsuk-fieldset__heading">
                          Enter date of birth
                        </h1>
                      </legend>
          
                      <div class="nhsuk-form-group">
          
                      <span class="nhsuk-hint" id="hint">
                        For example, 31 3 2003
                      </span>
          
                      <div class="nhsuk-date-input">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthday">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dateofbirthday" name="dateofbirthday" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthmonth">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dateofbirthmonth" name="dateofbirthmonth" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthyear">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dateofbirthyear" name="dateofbirthyear" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
          
                      </div>
          
                    </fieldset>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details2">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">
                          Why we ask for their date of birth
                        </span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
                        <p>We use this to work out their age and check their eligibility.</p>
                      </div>
                    </details>
          
                    <hr>
          
                    <fieldset class="nhsuk-fieldset">
          
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                        <h1 class="nhsuk-fieldset__heading">
                          Enter due date
                        </h1>
                      </legend>
          
                      <div class="nhsuk-form-group">
          
                      <span class="nhsuk-hint" id="hint">
                        For example, 31 3 2020
                      </span>
          
                      <div class="nhsuk-date-input">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="duedateday">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedateday" name="duedateday" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="duedatemonth">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedatemonth" name="duedatemonth" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="duedateyear">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="duedateyear" name="duedateyear" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
          
                      </div>
          
                    </fieldset>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details3">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">They are unsure what their due date is</span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">
                        <p>If they are unsure, or still awaiting a <a href="https://www.nhs.uk/conditions/pregnancy-and-baby/dating-scan-ultrasound-10-11-12-13-weeks-pregnant/" target="_blank">dating scan<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a>, they
                            can work out when they might expect their baby to arrive using the <a href="https://www.nhs.uk/conditions/pregnancy-and-baby/due-date-calculator/" target="_blank">NHS pregnancy
                              and due date calculator<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a>.</p>
                      </div>
                    </details>
          
                    <hr>
          
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-heading-s" for="nationalinsurancenumber">
                            Enter National Insurance number (optional)
                        </label>
                        <span class="nhsuk-hint" id="example-with-hint-text-hint">
                            It's on their National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'.
                        </span>
                        <input class="nhsuk-input nhsuk-input--width-20" id="nationalinsurancenumber" name="nationalinsurancenumber" spellcheck="false" type="text">
                    </div>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details4">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text4" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">
                          Why we ask for their National Insurance number
                        </span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text4" aria-hidden="true">
                        <p>We use this to check their eligibility for the service with other government departments when required.</p>
                      </div>
                    </details>
          
                    <hr>
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-heading-s" for="telephonenumber">
                        Enter telephone number (optional)
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-20" id="telephonenumber" name="telephonenumber" type="tel">
                    </div>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details5">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text5" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">
                          Why do we need their telephone number?
                        </span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text5" aria-hidden="true">
                        <p>We use this to send notifications about their application and payments.</p>
                      </div>
                    </details>
          
                    <hr>
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-heading-s" for="emailaddress">
                        Enter email address (optional)
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-20" id="emailaddress" name="emailaddress" type="email">
                    </div>
          
                    <details class="nhsuk-details nhsuk-u-margin-bottom-6" nhsuk-polyfilled="true" id="nhsuk-details6">
                      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text6" tabindex="0" aria-expanded="false">
                        <span class="nhsuk-details__summary-text">
                          Why do we need their email address?
                        </span>
                      </summary>
                      <div class="nhsuk-details__text" id="nhsuk-details__text6" aria-hidden="true">
                        <p>We use this to send notifications about their application and payments.</p>
                      </div>
                    </details>
          
                  </form>
    

            </div>
        </div>

        <p><a href="claim-list" class="nhsuk-button nhsuk-button--primary nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">Submit</a></p>

        <p class="nhsuk-u-margin-top-4"><a href="claim-list">Cancel</a></p>

    </div>
</div>

{% endblock %}