<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Enter personal details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
  dueDateBegin = moment().format("D MMMM YYYY");
  dueDateEnd = moment().add(32, 'weeks').format("D MMMM YYYY");
  example = moment().add(12, 'weeks').format("DD M YYYY");
</script>

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
          <li class="nhsuk-breadcrumb__item">Add new applicant</li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="home">Back to home</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <!--
          <h1>
            <span role="text">
                <span class="nhsuk-caption-xl nhsuk-caption--top">
                    <span class="nhsuk-u-visually-hidden">
                      -
                    </span>
                    Step 1
                </span>
                Applicant details
            </span>
          </h1>
          -->

        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back</a>
        </div>

        <div class="nhsuk-error-summary nhsuk-u-margin-bottom-5" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
                <ul class="nhsuk-list nhsuk-error-summary__list">

                    {% if not data['firstname'] %}
                    <li>
                        <a href="#example-error-1">Enter first name</a>
                    </li>
                    {% endif %}

                    {% if not data['lastname'] %}
                    <li>
                        <a href="#example-error-2">Enter last name</a>
                    </li>
                    {% endif %}

                    {% if not data['addressline1'] %}
                    <li>
                        <a href="#example-error-5">Enter the first line of the address</a>
                    </li>
                    {% endif %}

                    {% if not data['towncity'] %}
                    <li>
                        <a href="#example-error-9">Enter town or city</a>
                    </li>
                    {% endif %}

                    {% if not data['postcode'] %}
                    <li>
                        <a href="#example-error-6">Enter postcode in the right format</a>
                    </li>
                    {% endif %}

                    {% if not data['dateofbirthday'] or not data['dateofbirthmonth'] or not data['dateofbirthyear'] %}
                    <li>
                        <a href="#example-error-3">Enter date of birth</a>
                    </li>
                    {% endif %}

                    {% if data['age'] >= 18 %}
                    <li>
                      <a href="#example-error-8">You must be under 18 years old to apply</a>
                    </li>
                    {% endif %}

                    {% if not data['duedateday'] or not data['duedatemonth'] or not data['duedateyear'] %}
                    <li>
                        <a href="#example-error-4">Enter due date</a>
                    </li>
                    {% endif %}

                    {% if data['duedateInvalid'] == "INELIGIBLE" %}
                    <li>
                        <a href="#example-error-7">Due date must be between <script>document.write(dueDateBegin);</script> and <script>document.write(dueDateEnd);</script>.</a>
                    </li>
                    {% endif %}                    


                </ul>
            </div>
        </div>

        <h1>
          <span role="text">
              <span class="nhsuk-caption-xl nhsuk-caption--top">
                  <span class="nhsuk-u-visually-hidden">
                    -
                  </span>
                  Add new applicant
              </span>
              Personal details
          </span>
        </h1>

        <form novalidate="novalidate" autocomplete="off" action="/v8/personal-details" method="post">

          <fieldset class="nhsuk-fieldset">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h1 class="nhsuk-fieldset__heading">
                Enter name
              </h1>
            </legend>

            {% if not data['firstname'] %}
                <div class="nhsuk-form-group nhsuk-form-group--error">
                    <label class="nhsuk-label" for="firstname">
                    First name
                    </label>
                    <span class="nhsuk-error-message" id="example-error-1">
                        <span class="nhsuk-u-visually-hidden">Error:</span> Enter first name
                    </span>
                    <input class="nhsuk-input nhsuk-input--width-20 nhsuk-input--error" id="firstname" name="firstname" type="text" autocomplete="none">
                </div>
            {% else %}
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="firstname">
                    First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="firstname" name="firstname" type="text" value="{{ data['firstname'] }}" autocomplete="none">
                </div>
            {% endif %}

            {% if not data['lastname'] %}
                <div class="nhsuk-form-group nhsuk-form-group--error">
                    <label class="nhsuk-label" for="lastname">
                    Last name
                    </label>
                    <span class="nhsuk-error-message" id="example-error-2">
                        <span class="nhsuk-u-visually-hidden">Error:</span> Enter last name
                    </span>
                    <input class="nhsuk-input nhsuk-input--width-20 nhsuk-input--error" id="lastname" name="lastname" type="text" autocomplete="none">
                </div>
            {% else %}
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="lastname">
                    Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="lastname" name="lastname" type="text" value="{{ data['lastname'] }}" autocomplete="none">
                </div>
            {% endif %}

          </fieldset>

          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Why we ask for your name
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>We use your name to confirm your identity and eligibility.</p>
            </div>
          </details>

          <hr>

          <fieldset class="nhsuk-fieldset">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h1 class="nhsuk-fieldset__heading">
                    Enter address
                </h1>
            </legend>

            {% if not data['addressline1'] %}

            <div class="nhsuk-form-group nhsuk-form-group--error">
                <label class="nhsuk-label" for="addressline1">
                    Address line 1
                </label>
                <span class="nhsuk-error-message" id="example-error-5">
                  <span class="nhsuk-u-visually-hidden">Error:</span> Enter the first line of the address
                </span>
                <input class="nhsuk-input nhsuk-input--width-20 nhsuk-input--error" id="addressline1" name="addressline1" type="text" autocomplete="none">
            </div>

            {% else %}

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="addressline1">
                    Address line 1
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="addressline1" name="addressline1" type="text" value="{{ data['addressline1'] }}" autocomplete="none">
            </div>

            {% endif %}

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="addressline2">
                  Address line 2 (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="addressline2" name="addressline2" type="text" value="{{ data['addressline2'] }}" autocomplete="none">
            </div>

            {% if not data['towncity'] %}

            <div class="nhsuk-form-group nhsuk-form-group--error">
                <label class="nhsuk-label" for="towncity">
                    Town or city
                </label>
                <span class="nhsuk-error-message" id="example-error-9">
                  <span class="nhsuk-u-visually-hidden">Error:</span> Enter town or city
                </span>
                <input class="nhsuk-input nhsuk-input--width-20 nhsuk-input--error" id="towncity" name="towncity" type="text" autocomplete="none">
            </div>

            {% else %}

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="addressline1">
                    Address line 1
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="addressline1" name="addressline1" type="text" value="{{ data['addressline1'] }}" autocomplete="none">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="towncity">
                    Town or city
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="towncity" name="towncity" type="text" value="{{ data['towncity'] }}" autocomplete="none">
            </div>

            {% endif %}

            {% if not data['postcode'] %}

            <div class="nhsuk-form-group nhsuk-form-group--error">
                <label class="nhsuk-label" for="postcode">
                    Postcode
                </label>
                <span class="nhsuk-error-message" id="example-error-6">
                  <span class="nhsuk-u-visually-hidden">Error:</span> Enter postcode in the right format
                </span>
                <input class="nhsuk-input nhsuk-input--width-10 nhsuk-input--error" id="postcode" name="postcode" type="text" autocomplete="none">
            </div>

            {% else %}

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="postcode">
                    Postcode
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text" value="{{ data['postcode'] }}" autocomplete="none">
            </div>

            {% endif %}

          </fieldset>

          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">If you don't know what address to use</span>
            </summary>
            <div class="nhsuk-details__text">
                  <p class="nhsuk-heading-xs">If you have more than one address</p>
                  <p>You should use the address that your GP or dentist holds for you. For example, if you're a
                      student living away from home, this could be your home or term time address.</p>
                  <p class="nhsuk-heading-xs">If you don't have a permanent address</p>
                  <p>If you're homeless and living in temporary accommodation (for example, a long term hostel), you
                      should use the address that your GP or dentist holds for you.</p>
            </div>
          </details>

          <hr>

          <fieldset class="nhsuk-fieldset">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h1 class="nhsuk-fieldset__heading">
                Enter date of birth
              </h1>
            </legend>

            {% if not data['dateofbirthday'] or not data['dateofbirthmonth'] or not data['dateofbirthyear'] %}

            <div class="nhsuk-form-group nhsuk-form-group--error">

            <span class="nhsuk-hint" id="hint">
              For example, 31 3 2003
            </span>

            <span class="nhsuk-error-message" id="example-error-3">
                <span class="nhsuk-u-visually-hidden">Error:</span> Enter date of birth
            </span>

            <div class="nhsuk-date-input">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthday">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="dateofbirthday" name="dateofbirthday" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthday'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthmonth">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="dateofbirthmonth" name="dateofbirthmonth" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthmonth'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthyear">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-input--error" id="dateofbirthyear" name="dateofbirthyear" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthyear'] }}" autocomplete="none">
                </div>
              </div>
            </div>

            </div>

            {% elif data['age'] >= "18" %}

            <div class="nhsuk-form-group nhsuk-form-group--error">

            <span class="nhsuk-hint" id="hint">
              For example, 31 3 2003
            </span>

            <span class="nhsuk-error-message" id="example-error-8">
                <span class="nhsuk-u-visually-hidden">Error:</span> You must be under 18 years old to apply
            </span>

            <div class="nhsuk-date-input">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthday">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="dateofbirthday" name="dateofbirthday" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthday'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthmonth">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="dateofbirthmonth" name="dateofbirthmonth" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthmonth'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthyear">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-input--error" id="dateofbirthyear" name="dateofbirthyear" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthyear'] }}" autocomplete="none">
                </div>
              </div>
            </div>

            </div>

            {% else %}

            <div class="nhsuk-form-group">

            <span class="nhsuk-hint" id="hint">
              For example, 31 3 2003
            </span>

            <div class="nhsuk-date-input">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthday">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dateofbirthday" name="dateofbirthday" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthday'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthmonth">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dateofbirthmonth" name="dateofbirthmonth" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthmonth'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dateofbirthyear">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dateofbirthyear" name="dateofbirthyear" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['dateofbirthyear'] }}" autocomplete="none">
                </div>
              </div>
            </div>

            </div>

            {% endif %}

          </fieldset>

          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Why we ask for your date of birth
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>We use your date of birth to work out your age. Your age will determine whether you are allowed to apply for the new service.</p>
            </div>
          </details>

          <hr>

            <fieldset class="nhsuk-fieldset">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h1 class="nhsuk-fieldset__heading">
                Enter due date
              </h1>
            </legend>

            {% if not data['duedateday'] or not data['duedatemonth'] or not data['duedateyear'] %}

            <div class="nhsuk-form-group nhsuk-form-group--error">

            <span class="nhsuk-hint" id="hint">
              For example, <script>document.write(example);</script>
            </span>

            <span class="nhsuk-error-message" id="example-error-4">
                <span class="nhsuk-u-visually-hidden">Error:</span> Enter due date
            </span>

            <div class="nhsuk-date-input">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedateday">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="duedateday" name="duedateday" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedateday'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedatemonth">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="duedatemonth" name="duedatemonth" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedatemonth'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedateyear">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-input--error" id="duedateyear" name="duedateyear" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedateyear'] }}" autocomplete="none">
                </div>
              </div>
            </div>

            </div>


            {% elif data['duedateInvalid'] == "INELIGIBLE" %}

            <div class="nhsuk-form-group nhsuk-form-group--error">

            <span class="nhsuk-hint" id="hint">
              For example, <script>document.write(example);</script>
            </span>

            <span class="nhsuk-error-message" id="example-error-7">
                <span class="nhsuk-u-visually-hidden">Error:</span> Due date must be between <script>document.write(dueDateBegin);</script> and <script>document.write(dueDateEnd);</script>
            </span>

            <div class="nhsuk-date-input">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedateday">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="duedateday" name="duedateday" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedateday'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedatemonth">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="duedatemonth" name="duedatemonth" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedatemonth'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedateyear">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-input--error" id="duedateyear" name="duedateyear" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedateyear'] }}" autocomplete="none">
                </div>
              </div>
            </div>

            </div>

            {% else %}

            <div class="nhsuk-form-group">

            <span class="nhsuk-hint" id="hint">
              For example, <script>document.write(example);</script>
            </span>

            <div class="nhsuk-date-input">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedateday">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedateday" name="duedateday" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedateday'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedatemonth">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedatemonth" name="duedatemonth" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedatemonth'] }}" autocomplete="none">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="duedateyear">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="duedateyear" name="duedateyear" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['duedateyear'] }}" autocomplete="none">
                </div>
              </div>
            </div>

            </div>

            {% endif %}

            </fieldset>

          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">If you are unsure what your due date is</span>
            </summary>
            <div class="nhsuk-details__text">
              <p>As part of your pregnancy (antenatal) care, your midwife will offer you a dating scan that will give
                you a more accurate date for the birth of your baby.</p>
            </div>
          </details>

          <hr>

          <div class="nhsuk-form-group">
              <label class="nhsuk-heading-m" for="nationalinsurancenumber">
                  Enter National Insurance number (optional)
              </label>
              <span class="nhsuk-hint" id="example-with-hint-text-hint">
                  It's on your National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'.
              </span>
              <input class="nhsuk-input nhsuk-input--width-20" id="nationalinsurancenumber" name="nationalinsurancenumber" type="text" value="{{ data['nationalinsurancenumber'] }}" autocomplete="none">
          </div>

          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Why we ask for your National Insurance number
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>We use this to check your eligibility.</p>
            </div>
          </details>

          <hr>

          <div class="nhsuk-form-group">
            <label class="nhsuk-heading-m" for="telephonenumber">
              Enter telephone number (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="telephonenumber" name="telephonenumber" type="tel" value="{{ data['telephonenumber'] }}" autocomplete="none">
          </div>

          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Why do we need your telephone number?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>We use this to prevent fraud and to send notifications about your application and ongoing payments.</p>
            </div>
          </details>

          <hr>

          <div class="nhsuk-form-group">
            <label class="nhsuk-heading-m" for="emailaddress">
              Enter email address (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="emailaddress" name="emailaddress" type="email" value="{{ data['emailaddress'] }}" autocomplete="none">
          </div>

          <details class="nhsuk-details nhsuk-u-margin-bottom-6">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Why do we need your email address?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>We use this to send notifications about your application and ongoing payments.</p>
            </div>
          </details>

          <button class="nhsuk-button" type="submit">
            Continue
          </button>

          <p class="nhsuk-u-margin-top-0"><a href="home">Cancel</a></p>

        </form>



      </div>
    </div>

  </main>
</div>

{% endblock %}