// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.nhsBSA-sidebar {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;

    .nhsBSA-navigation-container {
        background-color: $color_nhsuk-grey-3;


        .nhsBSA-navigation-wrapper {
            flex-basis: 300px;
            min-width: 300px;
            margin: 0 16px;

            @media (min-width: 48.0625em) {
            margin: 0 32px;
            }
        }
    }
    
    .nhsBSA-content-container {
        background-color: $color_nhsuk-grey-5;
        width: 100%;

        .nhsBSA-content-wrapper {
            flex-grow: 1;
            overflow-y: auto;
            margin: 0 16px;

            @media (min-width: 48.0625em) {
                margin: 0 32px;
            }
        }
    }
}