{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/header -->
{% block header %}

<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS homepage">

        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>

        <span class="nhsuk-header__service-name">
          Get help to buy food and milk (Healthy Start)
        </span>
      </a>
    </div>

    <div class="nhsuk-header__content" id="content-header">

      <div class="nhsuk-header__menu">
          <div class="nhsuk-header__menu">
              <a href="sign-in" class="nhsuk-header__menu-toggle" id="log-out">Sign out</a>
            </div>
      </div>

      

    </div>

  </div>

</header>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="dashboard">Dashboard</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-claim-search">Manage claims</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-claim-active-claim-details">Anita Bilal</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href=""></a></p>
    </div>
</nav>

{% endblock %}

{% block content %}

<style>
    @media (min-width: 61.875em) {
  
    html {
            background: none;
    }
  
    footer, .app-ogl-footer {
        display: none;
    }
    
    }
  </style>



<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


        <!--
        <nav class="nhsuk-sub-navigation">
            <ul class="nhsuk-sub-navigation__list">
                <li class="nhsuk-sub-navigation__item"><a href="#" class="nhsuk-sub-navigation__link" aria-current="page">Claim details</a></li>
                <li class="nhsuk-sub-navigation__item"><a href="#" class="nhsuk-sub-navigation__link">Eligibility</a></li>
                <li class="nhsuk-sub-navigation__item"><a href="#" class="nhsuk-sub-navigation__link">Payments</a></li>
                <li class="nhsuk-sub-navigation__item"><a href="#" class="nhsuk-sub-navigation__link">Claim timeline</a></li>
            </ul>
        </nav>
-->

<h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">Anita Bilal</h1><p>Reference Number: HDJ2123F</p>
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
            
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag">
        Status: Active
      </strong>
      
            </td>
          </tr>
          
          <br></br>
          <div class="nhsuk-tabs" data-module="nhsuk-tabs">

            <h2 class="nhsuk-tabs__title">Contents</h2>
        
            <ul class="nhsuk-tabs__list">
                <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected" id="claim-tab">
                    <a class="nhsuk-tabs__tab" href="#claim">Claim</a>
                </li>
                <li class="nhsuk-tabs__list-item" id="eligibility-tab">
                    <a class="nhsuk-tabs__tab" href="#eligibility">Eligibility</a>
                </li>
                <li class="nhsuk-tabs__list-item" id="payments-tab">
                    <a class="nhsuk-tabs__tab" href="#payments">Payments</a>
                </li>
                <li class="nhsuk-tabs__list-item" id="timeline-tab">
                    <a class="nhsuk-tabs__tab" href="#timeline">Claim timeline</a>
                </li>
            </ul>
        
            <div class="nhsuk-tabs__panel" id="claim">
                <h2 class="nhsuk-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-3">Claim details</h2>
                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-5">
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Claim status</dt>
                      <dd class="nhsuk-summary-list__value"><strong class="nhsuk-tag">
                              Active
                          </strong></dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Claim reference</dt>
                      <dd class="nhsuk-summary-list__value">HDJ2123F</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Claim submitted</dt>
                      <dd class="nhsuk-summary-list__value">17 August 2022</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Payment method</dt>
                    <dd class="nhsuk-summary-list__value">Card</dd>
                </div>
              </dl>
              
                </div>
            </div>
        
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="eligibility">
                <h2 class="nhsuk-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-3">Eligibility</h2>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                  <h2 class="govuk-heading-l"></h2>
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Claim status</th>
                        <th scope="col" class="govuk-table__header">Claim reference</th>
                        <th scope="col" class="govuk-table__header">Claim submitted</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="nhsuk-table__cell">
                          <strong class="nhsuk-tag">
                            Status: Active
                          </strong>
                      </tr>
                    </tbody>
                  </table>
              
                </div>
            </div>
        
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="payments">
                <h2 class="nhsuk-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-3">Payments</h2>
                <p>Payments text goes here</p>
            </div>
        
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="timeline">
                <h2 class="nhsuk-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-3">Claim timeline</h2>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
              
                </div>
            </div>
        
        </div>



        <div class="nhsuk-review-date nhsuk-u-margin-top-0">
            <p class="nhsuk-body-s">
                Last updated: 09 August 2020</p>
        </div>

        <p><a href="manage-claim-search-results-expired-results" class="nhsuk-button nhsuk-button-red nhsuk-u-margin-top-4">Close active claim</a></p>

    </div>
</div>

{% endblock %}