{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="start">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back</a>
          </div>

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Sign in
              </h1>
            </legend>
          
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="email">
                Email
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
            </div>
          
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="password">
                Password
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="password" name="password" type="text">
            </div>
          
          </fieldset>

        <p><a href="dashboard" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Sign in</a></p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Forgottten your password?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>This service uses your NHSmail account.</p>
              <p>If you have forgotten your password, please contact your local administrator or IT helpdesk.</p>
            </div>
          </details>
    </div>

    <!-- <aside class="nhsuk-grid-column-one-third">
        <div class="nhsuk-related-nav">
            <h2 class="nhsuk-related-nav__heading">
                Help for healthcare professionals
            </h2>
            <nav role="navigation" class="nhsuk-related-nav__nav-section">
                <ul class="nhsuk-related-nav__list">


                    <li class="nhsuk-related-nav__item">
                        <a class="nhsuk-related-nav__link" href="help">
                            Common issues
                        </a>
                    </li>



                </ul>
            </nav>
        </div>
    </aside> -->

</div>
{% endblock %}
