<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage Healthy Start Vouchers - Joe Bloggs
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-results">Search results</a></li>
      <li class="nhsuk-breadcrumb__item">Anita Bilal</li>
          </ol>

        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

    </div>
</nav>


<div class="nhsBSA-sidebar-container">
  
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">


        <div class="nhsuk-width-container-fluid">

            <div class="nhsuk-main-wrapper" id="maincontent">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      
                        <h1 class="nhsuk-u-margin-bottom-4">
                            <span role="text">
                              Anita Bilal
                              <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                                <span class="nhsuk-u-visually-hidden">
                                  -
                                </span>
                                Benefit information
                              </span>
                            </span>
                          </h1>

                    </div>
                    <div class="nhsuk-grid-column-one-half nhsBSA-align-right">
                      
                        <button class="nhsuk-button" type="submit">Add benefit</button>

                    </div>

                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible nhsuk-u-margin-top-2">

                    </div>
                </div>

                    <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-full">

                                <h2 class="nhsuk-heading-m">Benefit details</h2>

                                <dl class="nhsuk-summary-list">

                                        <!-- <div class="nhsuk-summary-list__row">
                                          <dt class="nhsuk-summary-list__key">
                                            Who receives benefit
                                          </dt>
                                          <dd class="nhsuk-summary-list__value">
                                              Citizen
                                            </dd>
                                      
                                          <dd class="nhsuk-summary-list__actions">
                                      
                                            <a href="applicant-edit-benefit-details#1">Change<span class="nhsuk-u-visually-hidden"> who receives benefit</span></a>
                                            or
                                            <a href="#">Remove<span class="nhsuk-u-visually-hidden"> who receives benefit</span></a>
                                      
                                          </dd>
                                      
                                        </div> -->

                                        <div class="nhsuk-summary-list__row">
                                          <dt class="nhsuk-summary-list__key">
                                            Benefit type
                                          </dt>
                                          <dd class="nhsuk-summary-list__value">
                                              Universal credit
                                          </dd>
                                      
                                          <dd class="nhsuk-summary-list__actions">
                                      
                                              <a href="applicant-edit-benefit-details#1">Change<span class="nhsuk-u-visually-hidden"> benefit type</span></a>
                                              or
                                              <a href="#">Remove<span class="nhsuk-u-visually-hidden"> benefit type</span></a>
                                      
                                          </dd>
                                      
                                        </div>

                                                                                  
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                              Benefit start / end dates
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                01/11/2019 - 30/11/2019
                                            </dd>
                                        
                                            <dd class="nhsuk-summary-list__actions">
                                        
                                                <!-- <a href="applicant-edit-benefit-details#1">Change<span class="nhsuk-u-visually-hidden"> benefit start and end dates</span></a> -->
                                        
                                            </dd>
                                        
                                          </div>
                                      
                                      
                                      </dl>

                                            <h2 class="nhsuk-heading-m">Benefit payment details</h2>

                                            <dl class="nhsuk-summary-list">
        
                                                    <div class="nhsuk-summary-list__row">
                                                      <dt class="nhsuk-summary-list__key">
                                                        Payment value
                                                      </dt>
                                                      <dd class="nhsuk-summary-list__value">
                                                          £178.19 per week
                                                      </dd>
                                                  
                                                      <dd class="nhsuk-summary-list__actions">
                                                  
                                                          <!-- <a href="applicant-edit-benefit-details#1">Change<span class="nhsuk-u-visually-hidden"> payment value</span></a>
                                                          or
                                                          <a href="#">Remove<span class="nhsuk-u-visually-hidden"> payment value</span></a> -->
                                                  
                                                      </dd>
                                                  
                                                    </div>
        
                                                                                              
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                          Payment method
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                          BACS
                                                        </dd>
                                                    
                                                        <dd class="nhsuk-summary-list__actions">
                                                    
                                                            <!-- <a href="applicant-edit-benefit-details#1">Change<span class="nhsuk-u-visually-hidden"> payment method</span></a>
                                                            or
                                                            <a href="#">Remove<span class="nhsuk-u-visually-hidden"> payment method</span></a> -->
                                                    
                                                        </dd>
                                                    
                                                      </div>

                                                      <div class="nhsuk-summary-list__row">
                                                          <dt class="nhsuk-summary-list__key">
                                                            Payment date(s)
                                                          </dt>
                                                          <dd class="nhsuk-summary-list__value">
                                                              01/11/2019<br>
                                                              08/11/2019<br>
                                                              15/11/2019<br>
                                                              22/11/2019
                                                          </dd>
                                                      
                                                          <dd class="nhsuk-summary-list__actions">
                                                      
                                                              <!-- <a href="applicant-edit-benefit-details#1">Change<span class="nhsuk-u-visually-hidden"> payment date(s)</span></a>
                                                              or
                                                              <a href="#">Remove<span class="nhsuk-u-visually-hidden"> payment date(s)</span></a> -->
                                                      
                                                          </dd>
                                                      
                                                        </div>
                                                  
                                                  </dl>


                                          <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>

                            </div>
                    </div>
                    

                </div>
            
        </div>


    </div>
    <div class="nhsBSA-sidebar-nav">

        <div class="side-nav">

            <h3>Anita Bilal<span class="nhsuk-caption-m nhsuk-caption--bottom">
                <span class="nhsuk-u-visually-hidden">
                  -
                </span>NI No. AB123456C</span></h3>

            <ul>
              <div id="options" class="options">
                <li><a href="applicant-view-personal-details">Personal details</a></li>
                <li><a href="applicant-view-contact-details">Contact details</a></li>
                <li><a href="applicant-view-dependants-details">Relationships</a></li>
                <li><a class="active" href="applicant-view-benefit-details">Benefit information</a></li>
                <li><a href="applicant-view-transaction-details">Payment details</a></li>
                <li><a href="applicant-view-note-details">Case history</a></li>
              </div>
            </ul>
            
            <!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>
            </div> -->
        </div>


    </div>
  </div>

</div>


{% endblock %}