{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <form action="/v17/sign-in" method="post">


      <fieldset class="nhsuk-fieldset" aria-describedby="signin-hint">

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
          <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-3">
            Staff Login
          </h1>
        </legend>

        <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="signin-hint">Use your NHSBSA address and password to sign in. For example firstname.lastname@nhsbsa.nhs.uk.</div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town">
            Email
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-county">
            Password
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="password" name="password" type="password">
        </div>

      </fieldset>

      <button class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-7" type="submit">
        Sign in
      </button>

    </form>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Forgotten your password?
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>This service uses your NHSBSA email account.</p>
        <p>If you have forgotten your password, contact your local administrator or IT helpdesk.</p>
      </div>
    </details>
  </div>

  <!-- <aside class="nhsuk-grid-column-one-third">
        <div class="nhsuk-related-nav">
            <h2 class="nhsuk-related-nav__heading">
                Help for healthcare professionals
            </h2>
            <nav role="navigation" class="nhsuk-related-nav__nav-section">
                <ul class="nhsuk-related-nav__list">


                    <li class="nhsuk-related-nav__item">
                        <a class="nhsuk-related-nav__link" href="help">
                            Common issues
                        </a>
                    </li>



                </ul>
            </nav>
        </div>
    </aside> -->

</div>
{% endblock %}