{% extends 'layout.html' %}

{% block pageTitle %}
Manage Get help to buy food and milk (Healthy Start) applications
{% endblock %}

{% block content %}

<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="manage-claim-ANITA-BILAL-claim-details">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Anita Bilal's eligibility <span class="nhsuk-caption-xl nhsuk-caption--bottom"><span
                        class="nhsuk-u-visually-hidden">-</span>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    Evidence needed
                </span>
            </h3>
            <p>They need the following piece of evidence that shows proof of:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>their eligibility (benefit award notice)</li>
            </ul>
            <p>Do not accept the applicant without this evidence. Without this evidence, you could put the NHS Business Services Authority in breach of contract with the card provider.</p>
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
            </label>
            <div class="nhsuk-hint" id="example-hint">
                Select the reason if you are unable to accept this applicant.
            </div>
            <div class="nhsuk-form-group">

                <div class="nhsuk-radios">
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                      The image has missing information - for example, the applicant's name or benefit type
                    </label>
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                      The name on the image does not match the name of the applicant
                    </label>
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                      The benefit shown on the image does not match the benefit on the application
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                      The document in the image is out of date
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                      The image is blurry or out of focus
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                      Other
                    </label>
                  </div>
            
                </div>
              </div>
        </div>

        <form action="/v19/manage-claim-benefit" method="post">

            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    <h1 class="nhsuk-fieldset__heading">
                        Do you want to accept this applicant?
                    </h1>
                </legend>

                <div class="nhsuk-radios nhsuk-radios--inline">

                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="yes" name="add-benefit-1" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                            Yes
                        </label>
                    </div>

                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="no" name="add-benefit-1" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                            No
                        </label>
                    </div>

                </div>
            </fieldset>

            <button class="nhsuk-button nhsuk-u-margin-top-3" type="submit">
                Continue
            </button>

        </form>

    </div>



</div>
{% endblock %}