<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage Healthy Start Scheme - Joe Bloggs
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="result-found">Search results</a></li>
      <li class="nhsuk-breadcrumb__item">Anita Bilal (Case history)</li>
          </ol>

        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="result-found">Back to search results</a></p>

    </div>
</nav>

<div class="nhsBSA-sidebar-container">
  
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">


        <div class="nhsuk-width-container-fluid">

            <div class="nhsuk-main-wrapper" id="maincontent">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      
                        <h1 class="nhsuk-u-margin-bottom-4">
                            <span role="text">
                              Anita Bilal
                              <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                                <span class="nhsuk-u-visually-hidden">
                                  -
                                </span>
                                Case history
                              </span>
                            </span>
                          </h1>

                    </div>
                  
                <div class="nhsuk-grid-column-one-half nhsBSA-align-right">

                        <a href="note-details-add-note"><button class="nhsuk-button" type="submit">Add note</button></a>  

                    </div>

                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible nhsuk-u-margin-top-2">

                    </div>
                </div>

                    <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-full">

                                <div class="timeline">
                                    <ul>
                                      <li class="action_needed">
                                        <h2>Change of circumstances</h2>
                                        <p class="time"><strong>Phone Call</strong> - 19 October 2019 at 1.01pm</p>
                                        <p>Changed first name from 'Anitas' to 'Anita'.</p>
                                      </li>
                                      <li>
                                        <h2>Application approved</h2>
                                        <p class="time"><strong>Email Sent</strong> - 12 October 2019 at 12.27pm</p>
                                        <p>Your Healthy Start application has been approved (Ref: 6HWNA).</p>
                                      </li>
                                      <li>
                                        <h2>Application submitted</h2>
                                        <p class="time"><strong>Email Sent</strong> - 10 October 2019 at 8.15pm</p>
                                        <p>Your Healthy Start application has been received (Ref: 6HWNA).</p>
                                      </li>
                                    </ul>
                                  </div>

                            </div>
                    </div>
                    

                </div>
            
        </div>


    </div>
    <div class="nhsBSA-sidebar-nav">

        <div class="side-nav">

            <h3>Anita Bilal
              <span class="nhsuk-caption-m nhsuk-caption--bottom nhsuk-u-margin-top-2">
                <span class="nhsuk-u-visually-hidden">
                  -
                </span>
                <strong class="nhsuk-tag active">STATUS: ACTIVE</strong>
              </span>
            </h3>

            <ul>
              <div id="options" class="options">
                <li><a href="applicant-view-personal-details">Personal details</a></li>
                <li><a href="applicant-view-contact-details">Contact details</a></li>
                <li><a href="applicant-view-dependants-details">Pregnancy</a></li>
                <li><a class="active" href="applicant-view-note-details">Case history</a></li>
              </div>
            </ul>
            
            <!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>
            </div> -->
        </div>


    </div>
  </div>

</div>


{% endblock %}