<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage Healthy Start Vouchers - Changes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<style>
  html {
    background-color: #f0f4f5 !important;
  }
</style>

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">Home</li>
          </ol>

        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back">Home</p>

    </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half"><h1 class="nhsuk-u-margin-bottom-1">Applications</h1></div>
            <div class="nhsuk-grid-column-one-half">

              <a href="date-of-birth">
                <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" style="float: right;" type="submit">
                    Add new applicant
                </button>
              </a>

                <div style="overflow: auto;"></div>


            </div>
        </div>

      

      <div class="nhsuk-panel nhsuk-panel--grey-1 nhsuk-u-margin-top-4">

          <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                  <h2 class="nhsuk-u-margin-bottom-4">Search users</h2>


              </div>
          </div>




        
          <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                
                  <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="select-1">
                        Search by
                      </label>
                      <select class="nhsuk-select nhsuk-u-width-full" id="select-1" name="select-1" style="width: 100%;">
                        <option value="1" selected="">Name</option>
                        <option value="2">National Insurance number</option>
                        <option value="3">Postcode</option>
                      </select>
                    </div>



              </div>
              <div class="nhsuk-grid-column-one-half">
                  
                  <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="example">
                        Keywords
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-full" id="example" name="example" type="text">
                    </div>



                </div>


          </div>

          <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">

                <a href="search-results">
   
                      <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                          Search applications
                        </button>

                </a>

              </div>
          </div>



      </div>


    </div>
  </div>

  </main>
</div>

{% endblock %}
