<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Manage Healthy Start Scheme {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
   {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Change the page title here -->
      <h1>Manage Healthy Start Scheme <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version 1.0</span></h1><!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <p class="nhsuk-body-l">The Healthy Start scheme allows eligible applicants to get help to buy milk, food and vitamins.</p>
      <p class="nhsuk-body-l">The 'Manage' service allows operational staff to manage the scheme e.g. Answering queries, changing details, adding new applicants etc...</p>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">Private Beta <small>(Sprint 1)</small></span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-l">Contact Centre applications (16 - 17 year olds)</h2>
          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that giving 16 - 17 year olds the ability of applying for the scheme via the contact centre <strong>will be a useful feature for</strong> all those applicants who
          are unable to apply online e.g. because of lack access to the internet or the necessary digital skills <strong>as it will</strong> ensure everyone who needs the service can use it in a way that meets their needs. <strong>This will</strong>
          ensure that nobody who needs to access the service is 'left behind'.</p>
          <hr>
          <h3 class="nhsuk-heading-m">What we created:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Added the ability for a CCS agent to add an applicant who is <strong>16 - 17 and Pregnant</strong> (<a href="https://miro.com/welcomeonboard/BU7KhYJmVpFvobEHV3NaoCcQUEiHZF8HjaUnSsuoi5hgSPHlQRzyAfMeGTqpPF4O"
                  target="_blank">view user flow</a>).
            </li>
            <li>Amended the prototype to correctly demonstrate the NHS BSA's chosen login method (Azure AD).</li>
            <li>Based off initial CCS feedback, we amended the 'Add Applicant' journey so that the questions aren't asked from a third-party perspective e.g. 'What's their date of birth?', instead they are asked as if CCS were reading them to the applicant e.g. What's your date of birth?. This reduces the cognitive load on a CCS agent and is more of a natural conversation.</li>
            <li>Again based off initial CCS feedback, we also added in a unique reference number on the confirmation page. Third party research suggests that not only does it help CCS staff find an application, but it also reassures the applicant that their application is being dealt with and helps to reduce the number calls to the contact centre.</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>We believe that it's better for an applicant to be told they aren't eligible as quickly as possible - therefore this workflow confirms eligibility and only when that is confirmed, do we check their identity. Does that contradict the current workflow that a CCS agent currently does i.e. do they check identify first then check their eligibility?</li>
            <li>Does the 'one thing per page' pattern for adding a new applicant slow down a CCS agent's ability of checking / adding somebody onto the scheme?</li>
            <li>Does the grouping of information relating to an applicant e.g. Contact details, Relationship details etc... make sense to CSS agents? Would they group things differently? Card sorting exercise to determine this.</li>
            <li>How does the process work when a CCS agent needs to transfer the call to another colleague - or even better - a completely different provider e.g. DWP? How is details of the call shared between them?</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>
          <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
            <a class="nhsuk-action-link__link"
                 href="v3/start"><svg aria-hidden="true"
                 class="nhsuk-icon nhsuk-icon__arrow-right-circle"
                 viewbox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z"
                  fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path></svg> <span class="nhsuk-action-link__text">Manage
            Manage Healthy Start Scheme (v3)</span></a>
          </div>
        </div>
      </details>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">'Mini Discovery' <small>(Sprint 0)</small></span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-l">Designing a 'Manage' service</h2>
          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Version 2</span>
            </summary>
            <div class="nhsuk-details__text">
              <h3 class="nhsuk-heading-m">Hypothesis A</h3>
              <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that providing a method for CCS agents to manage information about Healthy Start applicants <strong>will be a useful feature for</strong> all applicants who are
              not 'passported' by having an approved benefit <strong>as it will</strong> not only allow current users of the scheme to be managed, but also provide new applicants with an additional route of applying via the call centre. <strong>This
              will</strong> align with us supporting an assisted digital route.</p>
              <hr>
              <h3 class="nhsuk-heading-m">What we created:</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <h3 class="nhsuk-heading-m">What we plan to test:</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <h3 class="nhsuk-heading-m">What we found:</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <h3 class="nhsuk-heading-m">Any known issues?</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <hr>
              <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                <a class="nhsuk-action-link__link"
                     href="v2/start"><svg aria-hidden="true"
                     class="nhsuk-icon nhsuk-icon__arrow-right-circle"
                     viewbox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z"
                      fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path></svg> <span class="nhsuk-action-link__text">Manage
                Manage Healthy Start Scheme (v2)</span></a>
              </div>
            </div>
          </details>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Version 1</span>
            </summary>
            <div class="nhsuk-details__text">
              <h3 class="nhsuk-heading-m">Hypothesis A</h3>
              <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that providing a method for CCS agents to manage information about Healthy Start applicants <strong>will be a useful feature for</strong> all applicants who are
              not 'passported' by having an approved benefit <strong>as it will</strong> not only allow current users of the scheme to be managed, but also provide new applicants with an additional route of applying via the call centre. <strong>This
              will</strong> align with us supporting an assisted digital route.</p>
              <hr>
              <h3 class="nhsuk-heading-m">What we created:</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <h3 class="nhsuk-heading-m">What we plan to test:</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <h3 class="nhsuk-heading-m">What we found:</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <h3 class="nhsuk-heading-m">Any known issues?</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <hr>
              <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                <a class="nhsuk-action-link__link"
                     href="v1/start"><svg aria-hidden="true"
                     class="nhsuk-icon nhsuk-icon__arrow-right-circle"
                     viewbox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z"
                      fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path></svg> <span class="nhsuk-action-link__text">Manage
                Healthy Start Vouchers (v1)</span></a>
              </div>
            </div>
          </details>
        </div>
      </details><!-- End of content -->
    </div>
  </div>{% endblock %}
</body>
</html>
