{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/header -->
{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "false",
    "primaryLinks": [
      {
        "url"  : "https://www.nhs.uk/conditions",
        "label" : "Claim"
      },
      {
        'url' : 'https://www.nhs.uk/live-well/',
        'label' : 'Eligibility'
      },
      {
        'url'  : 'https://www.nhs.uk/conditions/social-care-and-support/',
        'label' : 'Payments'
      },
      {
        'url'  : 'https://www.nhs.uk/news/',
        'label' : 'Claim History'
      }
    ]
  })
}}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">Eligibility</h1>
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">

                <h2 class="nhsuk-heading-l">Application details</h2>
                <dl class="nhsuk-summary-list">



                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Application status</dt>
                        <dd class="nhsuk-summary-list__value"><strong class="nhsuk-tag">
                                Active
                            </strong></dd>

                        <dd class="nhsuk-summary-list__actions">

                            <a href="applicant-edit-personal-details#duedateday">Change<span
                                    class="nhsuk-u-visually-hidden">
                                    expected due date</span></a>


                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row nhsuk-summary-list--no-border">
                        <dt class="nhsuk-summary-list__key">Application date</dt>
                        <dd class="nhsuk-summary-list__value">06 / 01 / 2020</dd>

                        <dd class="nhsuk-summary-list__actions">

                            <!--

                    <a href="applicant-edit-personal-details#3">
                      Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                    </a>

-->

                        </dd>

                    </div>



                </dl>
                <h2 class="nhsuk-heading-l">Pregnancy details</h2>
                <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row nhsuk-summary-list--no-border">
                        <dt class="nhsuk-summary-list__key">
                            Expected due date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            21 / 03 / 2020
                        </dd>

                        <dd class="nhsuk-summary-list__actions">

                            <a href="applicant-edit-personal-details#duedateday">Change<span
                                    class="nhsuk-u-visually-hidden">
                                    expected due date</span></a>
                            or
                            <a href="applicant-view-personal-details-remove-child">Remove<span
                                    class="nhsuk-u-visually-hidden"> pregnancy</span></a>


                        </dd>

                    </div>

                </dl>
                <h2 class="nhsuk-heading-l">Children eligibility (2)</h2>

                <dl class="nhsuk-summary-list">


                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            14 / 08 / 2018
                        </dd>

                        <dd class="nhsuk-summary-list__actions">

                            <!--
                    <a href="applicant-edit-dependants-details#duedateday">Change<span class="nhsuk-u-visually-hidden">
                        expected due date</span></a>
                    or
                    <a href="applicant-view-dependants-details-remove-child">Remove<span
                        class="nhsuk-u-visually-hidden"> pregnancy</span></a>
-->

                        </dd>

                    </div>
                    <div class="nhsuk-summary-list__row nhsuk-summary-list--no-border">
                        <dt class="nhsuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="nhsuk-summary-list__value"> 05 / 03 / 2020</dd>

                        <dd class="nhsuk-summary-list__actions">

                            <!--
                    <a href="applicant-edit-dependants-details#duedateday">Change<span class="nhsuk-u-visually-hidden">
                        expected due date</span></a>
                    or
                    <a href="applicant-view-dependants-details-remove-child">Remove<span
                        class="nhsuk-u-visually-hidden"> pregnancy</span></a>
-->

                        </dd>

                    </div>

                </dl>
                <div class="nhsuk-review-date nhsuk-u-margin-top-0">
                    <p class="nhsuk-body-s">
                        Eligibilty changed: 28 / 06 / 2020</p>
                </div>
            </div>
        </div>

        <a href="#"><button class="nhsuk-button nhsuk-button--primary" type="submit" disabled="">Update
                eligibility</button></a>

    </div>
</div>

{% endblock %}